.node {
  outline: 1px solid lightblue;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 0px;
}

.node-start,
.node-start.visited {
  background-color: purple;
}

.node-end,
.node-end.visited {
  background-color: gold;
}

.node-wall {
  background-color: black;
}
