h1 {
  font-size: 42pt;
  color: purple;
  margin: 40px;
}

button {
  margin: 0px 50px 50px 50px;
  font-size: 22pt;
}

.grid {
  margin-bottom: 80px;
}

.visited {
  background-color: blue;
}

.path {
  background-color: magenta;
}
