h1 {
  font-size: 42pt;
  color: purple;
  margin: 40px;
}

button {
  margin: 0px 50px 50px 50px;
  font-size: 22pt;
  color: white;
  background-color: purple;
  padding: 15px;
  border-radius: 25px;
}

button:hover {
  background-color: white;
  color: black;
  transition: all 0.4s;
}

button:disabled {
  opacity: 0.5;
}

p {
  font-size: 32pt;
  color: purple;
  margin: 30px;
}

.grid {
  margin-bottom: 80px;
}
